
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #148D8D;
    color: #EFC88B;
}
.funcionalidades, .sobre {
    color: #000; 
}
header {
    background-color: #0F4C4C;
    color: #EFC88B; 
    padding: 20px;
    text-align: center;
    margin-bottom: 2px;
}
main {
    background-color: #F4F4F4;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 5px;
    box-sizing: border-box;
}
h1 {
    margin: 30;
    font-size: 28px;
}
h2 {
    color: #000000;
    margin: 0;
    font-size: 20px;
    text-align: center;
}
textarea {
    display: block;
    width: calc(50% - 22px);
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
}
textarea#saida {
    float: right;
}
main::after {
    content: "";
    display: table;
    clear: both;
}
button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #0F4C4C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    color: #EFC88B;
    background-color: #0A3D3D;
}
.button-group {
    text-align: center;
    margin-bottom: 10px;
}
.button-group button {
    display: inline-block;
}
nav {
    text-align: center;

}
nav a {
    margin: 0 50px;
    text-decoration: none;
    color: #EFC88B;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}
